.hidden {
    display: none;
    visibility: none;
}

body {
    width: 100svw;
    height: 100svh;
    margin: 0px;
    overflow: hidden;
    background-color: black;
    color: white;
}

.text_display_section {
    width: 100svw;
    height: 5svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
}

.note_state_message {
    width: auto;
    height: 16px;
    color: white;
    font-size: 16px;
    font-weight: medium;
}

.note_text_input {
    width: 100svw;
    height: 95svh;
    background-color: black;
    color: white;
    padding: 8px;
    margin: 0px
}

